<div>
  <h1>Stupid coach</h1>

  <h6>Ask your coach anything:</h6>
</div>
<div class="col-lg-4 mb-3">
  <form action="answer" data-turbo="false" class="input-group">
    <input type="text" name="answer" class="form-control " placeholder="Your question">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
