<div>
  <h1>Stupid coach</h1>

  <h6>Ask your coach anything:</h6>

  <form action="answer" data-turbo="false">
    <input type="text" name="answer" size="50">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
